@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: visible; 
    font-family: "Poppins" , sans-serif;
 }


.all {
    background: #42414d;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
}
.nav {

    height: 60px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 8px;
    
}

.left {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.middle {
    z-index: 6;
}


.search-input {
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 8px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.search-button {
    height: 50px;
    width: 58.06px;
    outline: none;
    border: none;
    font-size: 16px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    background: #191b1f;
    color: #fff;
}

.input-styling {
    height: 50px;
    min-width: 360px;
    max-width: 470px;
    border: none;
    user-select: none;
    outline: none;
    font-size: 23px; 
}


.right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.profile {
    width: 50px;
    height: 50px;
    background-color: black;
}

.nav-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    background: #191b1f;
    border-radius: 7px;
    color: #fff;
}

.nav-button:hover {
    background-color: #24272c;
    transition: 0.4s ease;
}

.settings {
    top: -78px;
}

.notification {
    
}



.logo > img {
    width: 150px;
    height: 50px;
    background: aliceblue;
}


.line {
    width: 101vw;
    height: 2px;
    background: #191b1f;
}
@media only screen and (max-width: 650px) {
    
    .middle.toggle {
        position: absolute;
        display: flex;
        top: 105px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        background: #24272c;
        padding: 3px;
        border-radius: 7px;
        transition: .5s ease;
    }

    .middle {
        display: none;
    }

    .search-popup {
        
    }
  }

  @media only screen and (min-width: 651px) {
    
    
    .search-popup {
        display: none;
    }
    .middle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 500px;
        min-width: 360px;
        padding: 5px;
    } 
  }

.content {
    position: relative;
    top: 78px;
    width: 100%;
    height: 1px;
}

  
  @media only screen and (max-width: 956px) {

    .home-section {
    
    }

    .table-element {
      margin: 10px;
      
    }
    .logo-details {
        display: none;
    }
    .nav-list {
      z-index: 100000;
        display: flex;
        list-style: none;
        bottom: 0;
        position: fixed;
        justify-content: space-evenly;
        width: 100vw;
    
    }
    
    .links_name , .tooltip {
        display: none;
    }
    
    .item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        background: #191b1f ;
    }
    
    .item:hover {
        background: #24272c ;
        opacity: 1;
    
    }
    
    .mobicon {
        color: white;
        font-size: 20px;
    }

    
  }

  @media only screen and (min-width: 956px) {

    
    .sidebar{
        position: fixed;
        left: 0;
        height: 100%;
        width: 78px;
        background: #42414d;
        padding: 6px 14px;
        z-index: 99;
        transition: all 0.5s ease;
      }
      .sidebar.open{
        width: 250px;
      }
      .sidebar .logo-details{
        height: 60px;
        display: flex;
        align-items: center;
        position: relative;
      }
      .sidebar .logo-details .icon{
        opacity: 0;
        transition: all 0.5s ease;
      }
      .sidebar .logo-details .logo_name{
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        opacity: 0;
        transition: all 0.5s ease;
      }
      .sidebar.open .logo-details .icon,
      .sidebar.open .logo-details .logo_name{
        opacity: 1;
      }
     
      .sidebar .logo-details #btn{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 22px;
        transition: all 0.4s ease;
        font-size: 23px;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s ease;
      }
      .sidebar.open .logo-details #btn{
        text-align: right;
      }
      .sidebar i{
        color: #fff;
        height: 60px;
        min-width: 50px;
        font-size: 28px;
        text-align: center;
        line-height: 60px;
        z-index: 5;
      }
      .sidebar .nav-list{
        margin-top: 20px;
        height: 100%;
      }
      .sidebar li{
        position: relative;
        margin: 8px 0;
        list-style: none;
        height: 50px;
      }
      .sidebar li .tooltip{
        position: absolute;
        top: -20px;
        left: calc(100% + 23px);
        z-index: 3;
        background: #24272c;
        color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        padding: 6px 12px;
        border-radius: 4px;
        font-size: 20px;
        opacity: 0;
        white-space: nowrap;
        pointer-events: none;
        transition: 0s;
      }
      .sidebar li:hover .tooltip{
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
        top: 50%;
        transform: translateY(-50%);
      }
      .sidebar.open li .tooltip{
        display: none;
      }
      .sidebar.open input{
        padding: 0 20px 0 50px;
        width: 100%;
      }
      
      
      .sidebar li a{
        display: flex;
        height: 100%;
        width: 100%;
        border-radius: 12px;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        background: #191b1f;
      }
      .sidebar li a:hover{
        background: #24272c;
        
      }
      
      
      
      .sidebar li a .links_name{
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s;
      }
      .sidebar.open li a .links_name{
        opacity: 1;
        pointer-events: auto;
      }
      .sidebar li a:hover .links_name,
      .sidebar li a:hover i{
        transition: all 0.5s ease;
        color: #fff;
      }
      .sidebar li i{
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        border-radius: 12px;
      }
      .sidebar li.profile{
        position: fixed;
        height: 60px;
        width: 78px;
        left: 0;
        bottom: -8px;
        padding: 10px 14px;
        background: #1d1b31;
        transition: all 0.5s ease;
        overflow: hidden;
      }
      .sidebar.open li.profile{
        width: 250px;
      }
      .sidebar li .profile-details{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
      }
      .sidebar li img{
        height: 45px;
        width: 45px;
        object-fit: cover;
        border-radius: 6px;
        margin-right: 10px;
      }
      .sidebar li.profile .name,
      .sidebar li.profile .job{
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        white-space: nowrap;
      }
      .sidebar li.profile .job{
        font-size: 12px;
      }
      
      .sidebar.open .profile #log_out{
        width: 50px;
        background: none;
      }
      .home-section{
        position: relative;
        top: 0;
        left: 78px;
        width: calc(100% - 78px);
        transition: all 0.5s ease;
        padding: 10px;
        
      }
      .sidebar.open ~ .home-section{
        left: 250px;
        width: calc(100% - 250px);
      }
       .text{
        display: inline-block;
        background-color: #be546d;
        font-size: 25px;
        font-weight: 500;
        width: 100%;
        height: 400px;
      }
      
       
      .ads {
        width: 100%;
        height: 125px;
        background: rgb(119, 111, 111);
        border-radius: 7px;
      }

      
      
  }

  



  @media only screen and (min-width: 800px) {

    .table {
      width: 100%;
      display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 1em;
    
    
    }


  }

  @media only screen and (min-width: 620px) {

    .table {
      width: 100%;
      display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    
    
    }


  }

  @media only screen and (min-width: 1200px) {
    .table {
      width: 100%;
      display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    
    }
  }

  @media only screen and (min-width: 1600px) {

    .table {
      width: 100%;
      display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    
    }

  }

  .table-element {

    height: 230px;
    background: #24272c;
    border-radius: 7px;
    
   }

.table-top {
  background: #24272c;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  align-items: center;
  height: 60px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.option-button {
  padding: 9px;
}
.file-name {
  padding: 7px;
}
.file-name:hover {
  background: #191b1f;
  border-radius: 7px;
}

.option-button:hover {
  background: #191b1f;
  border-radius: 7px;
  
}

.table-hr {
  height: 2px;
  color: #fff;
  background: #fff;
}

.frame {
  height:168px;
  overflow: hidden;
  border-bottom-left-radius:7px ;
  border-bottom-right-radius:7px ;

  
  
}

.frame > img {

  width: 100%;
  background-size: cover;
  
}

.frame > img:hover {
  opacity: 0.5;
  transition: 0.5s;
}


